h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif; }

body {
  font-family: "Inter", sans-serif; }

h1 {
  font-size: 3.05rem;
  line-height: 110%;
  letter-spacing: -2%; }

h2 {
  font-size: 2.44rem;
  line-height: 110%;
  letter-spacing: -2%; }

h3 {
  font-size: 1.95rem;
  line-height: 130%;
  letter-spacing: -1.5%; }

h4 {
  font-size: 1.56rem;
  line-height: 130%;
  letter-spacing: -1.5%; }

h5 {
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: -0.5%; }

h6 {
  font-size: 1.12rem;
  line-height: 150%;
  letter-spacing: 0.5%; }

.body-lg {
  font-size: 1.06rem;
  line-height: 150%;
  letter-spacing: 0.5%; }

body {
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.5%; }

link {
  font-size: 0.95rem;
  line-height: 150%;
  letter-spacing: 0.5%; }

caption {
  font-size: 0.89rem;
  line-height: 150%;
  letter-spacing: 0.5%; }

/* The container are setup with CSS, not Bootstrap.  The code below mimics Bootstrap container */
.container-custom {
  max-width: 540px;
  /* For small screens */
  margin: auto;
  padding: 5px 5px; }

@media (min-width: 768px) {
  .container-custom {
    max-width: 720px;
    /* For medium screens */ } }

@media (min-width: 992px) {
  .container-custom {
    max-width: 960px;
    /* For large screens */ } }

@media (min-width: 1200px) {
  .container-custom {
    max-width: 1140px;
    /* For extra large screens */ } }

.container-footer {
  max-width: 540px;
  /* For small screens */
  margin: auto;
  padding: 5px 5px; }
  @media (max-width: 720px) {
    .container-footer .container-footer {
      width: 400px;
      /* For medium screens */ } }
  @media (min-width: 768px) {
    .container-footer .container-footer {
      width: 720px;
      /* For medium screens */ } }
.inline-top {
  vertical-align: top;
  display: flex;
  gap: 1ch;
  border: none; }

a {
  display: flex;
  color: black; }

nav a:hover, .button-nav:hover {
  background-color: darkgray; }

button {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  background-color: none;
  display: -ms-grid;
  display: grid;
  background: none;
  justify-content: center; }

.button-w-icon {
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
  text-decoration: none;
  justify-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1ch;
  border: none; }

.button-w-icon:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee; }

#button-reset-form {
  background-image: -webkit-gradient(linear, left top, right top, from(#ef7b45), color-stop(51%, orange), to(#ef7b45));
  background-image: linear-gradient(to right, #ef7b45 0%, orange 51%, #ef7b45 100%); }

#button-submit-form {
  background-image: -webkit-gradient(linear, left top, right top, from(#9b0e15), color-stop(51%, red), to(#9b0e15));
  background-image: linear-gradient(to right, #9b0e15 0%, red 51%, #9b0e15 100%); }

.button-nav {
  color: black;
  background-color: none;
  text-decoration: none;
  padding: 4px 12px;
  justify-content: center;
  border-radius: 4px;
  display: inline-block;
  /* this is needed because padding from other elements might interfere with the present element.*/
  font-weight: bold; }

.footer-bottom .button-nav {
  color: white; }

.button-contact {
  background-image: -webkit-gradient(linear, left top, right top, from(#9b0e15), color-stop(51%, red), to(#9b0e15));
  background-image: linear-gradient(to right, #9b0e15 0%, red 51%, #9b0e15 100%);
  color: white;
  outline: none;
  border: none;
  padding: 4px 12px;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  justify-content: center; }

.button-contact:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee; }

button[type="submit"] {
  background-image: -webkit-gradient(linear, left top, right top, from(#9b0e15), color-stop(51%, red), to(#9b0e15));
  background-image: linear-gradient(to right, #9b0e15 0%, red 51%, #9b0e15 100%);
  color: white;
  outline: none;
  border: none;
  justify-content: center; }

button[type="submit"]:hover {
  padding: 4px 12px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: whitesmoke;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  font-weight: bold;
  border: none; }

.button-w-icon-modal-close, .button-w-icon-popup-close {
  background: lightgray;
  color: black;
  padding: 4px 12px;
  border-radius: 4px;
  text-decoration: none;
  justify-items: center;
  justify-content: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1ch;
  border: none; }

.button-w-icon-modal-close:hover, .button-w-icon-popup-close:hover {
  background: darkgray; }

.button-w-icon-popup-close {
  position: absolute;
  top: 16px;
  right: 16px; }

.service-outro .box {
  justify-items: center; }

.navbar {
  background: #fffcf6;
  align-items: center;
  /* Vertically centers the items */
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 46px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  z-index: 10; }

.navbar-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Vertically centers the items */
  margin: 0px 0px;
  padding: 0px 0px;
  flex-wrap: wrap;
  flex-basis: 50%; }

.contact-info .firm-logo {
  margin: auto;
  align-items: center;
  width: 50%; }

.navbar-brand {
  height: 36px;
  width: auto;
  color: black; }

nav ul {
  list-style: none;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  vertical-align: middle; }

nav li {
  display: flex; }

.button-nav[aria-current='page'] {
  -webkit-text-decoration: underline #9B0E15;
          text-decoration: underline #9B0E15;
  text-underline-offset: .5em; }

nav a.accent-link {
  background-color: #7EA3CC;
  color: black; }

#open-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 0;
  align-items: center;
  cursor: pointer; }

#close-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 3px 2px;
  align-items: center;
  cursor: pointer; }

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 8;
  display: none; }

@media screen and (max-width: 540px) {
  #open-sidebar-button, #close-sidebar-button {
    display: block; }
  .navbar, .navbar-flexbox, nav ul, nav li {
    padding: 0;
    margin: 0; }
  .button-nav {
    padding-left: 2ch;
    border-radius: 0; }
  #sidebar-menu {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    /* this depends on the width.  for a width of 50%, 200% will put it offscreen to the right*/
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    float: right;
    /* doesn't seem to do anything */
    width: 50%;
    /* this will serve as the basis for the transform property */
    z-index: 10;
    -webkit-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
    background-color: black; }
  #sidebar-menu.open {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    /* based on a 50% window size */
    -webkit-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out; }
  #sidebar-menu.show ~ #overlay {
    display: block;
    -webkit-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out; }
  #sidebar-menu ul {
    flex-direction: column; }
  .button-nav[aria-current='page'] {
    border-left: 2px solid red;
    text-decoration: none; }
  nav li {
    margin: 8px; }
  nav .justify-end {
    justify-content: flex-end; }
  nav .justify-center {
    justify-content: center; }
  #sidebar-menu .button-nav {
    flex-grow: 1;
    color: whitesmoke; }
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  #overlay.active {
    display: block;
    z-index: 9; } }

.hero-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  margin-top: 46px;
  /* 46px without borders makes the banner start where the navbar ends */ }

.section-break {
  padding-top: 36px;
  padding-bottom: 36px; }

.hero {
  padding-left: 15%;
  padding-top: 72px;
  padding-bottom: 72px;
  border-color: white; }

.hero-text {
  width: 55%;
  color: white;
  border-color: white;
  padding: 12px 0px; }

a {
  text-decoration: none; }

#ser, #am, #cl {
  background: #fffcf6; }

#ser h4, #am h4, #cl h4 {
  color: #9b0e15; }

#contact h4 {
  color: white; }

#ser h5, #am h5, #cl h5 {
  color: #6b7280; }

#ser h6, #am h6, #cl h6 {
  color: #6b7280; }

#ser p, #am p, #cl p {
  color: #374151; }

#ser li, #am li, #cl li {
  color: #374151; }

#am {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  color: black; }

#cl {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply; }

#am .image-two-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  justify-items: center; }

@media screen and (max-width: 800px) {
  .hero, .hero-text, .section {
    width: 100%;
    padding: 0px;
    padding-bottom: 4px; }
  .service {
    width: 100%; } }

.two-col-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 12px;
  align-items: center; }

.two-col-layout {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#8b8b8b), to(#007bff));
  background-image: linear-gradient(to bottom right, #8b8b8b, #007bff); }

.two-col-header {
  padding: 24px;
  text-align: center;
  overflow: auto; }

/* Create two equal columns that floats next to each other */
.two-col-column {
  float: left;
  width: 50%;
  padding: 24px; }

.two-col-column li {
  margin: 1rem; }

/* Clear floats after the columns */
/* Responsive layout */
/* hero section text takes up 100% of width */
/* columns stack on top of each other instead of next to each other */
@media screen and (max-width: 720px) {
  .two-col-column, .three-col-column {
    width: 100%;
    padding: 0px; } }

/* Style the header */
.three-col-layout {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0f4add), to(yellow));
  background-image: linear-gradient(to bottom right, #0f4add, yellow); }

three-col-grid-header
.three-col-header {
  padding: 24px;
  text-align: center; }

/* Style the top navigation bar */
.three-col-topnav {
  overflow: hidden; }

/* Style the topnav links */
.three-col-topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

/* Change color on hover */
.three-col-topnav a:hover {
  color: black; }

/* Create three equal columns that floats next to each other */
.three-col-column {
  float: left;
  width: 33.33%;
  padding: 15px; }

/* Clear floats after the columns */
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .three-col-column {
    width: 100%; } }

.two-col-row {
  display: -ms-grid;
  display: grid;
  gap: 16px; }

@media (max-width: 720px) {
  .two-col-row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 0; } }

.boxes-three-three, .three-col-row {
  gap: 16px;
  padding: 16px; }

.boxes-three {
  padding: 16px;
  gap: 16px; }

.three-col-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 16px;
  gap: 16px; }

.grid-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  padding: 0px; }

.l-side .upper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 8px; }
  @media (max-width: 540px) {
    .l-side .upper {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      padding: 0; } }
.r-side {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  background-color: #fffcf6; }

Ensure .box-card fills available space and .card-service fills .box-card
Make all .box-card columns equal width and height
.boxes-three {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 16px;
  align-items: stretch; }

@media (min-width: 100px) and (max-width: 575px) {
  .boxes-three {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 0; } }

@media (min-width: 576px) {
  .boxes-three {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 0; } }

@media (min-width: 768px) {
  .boxes-three {
    -ms-grid-columns: (minmax(0, 1fr))[2];
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0; } }

@media (min-width: 992px) {
  .boxes-three {
    -ms-grid-columns: (minmax(0, 1fr))[3];
    grid-template-columns: repeat(3, minmax(0, 1fr)); } }

@media (min-width: 1200px) {
  .boxes-three {
    -ms-grid-columns: (minmax(0, 1fr))[3];
    grid-template-columns: repeat(3, minmax(0, 1fr)); } }

Ensure .box-card fills available space and .card-service fills .box-card
Make all .box-card columns equal width and height
.box-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-width: 0;
  min-height: 0;
  align-items: stretch; }

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 16px;
  align-items: stretch; }

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; } }

@media (min-width: 576px) {
  .cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; } }

@media (min-width: 768px) {
  .cards {
    -ms-grid-columns: (minmax(0, 1fr))[2];
    grid-template-columns: repeat(2, minmax(0, 1fr)); } }

@media (min-width: 992px) {
  .cards {
    -ms-grid-columns: (minmax(0, 1fr))[3];
    grid-template-columns: repeat(3, minmax(0, 1fr)); } }

@media (min-width: 1200px) {
  .cards {
    -ms-grid-columns: (minmax(0, 1fr))[3];
    grid-template-columns: repeat(3, minmax(0, 1fr)); } }

.box-card:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  /* Example: Scale up on hover */
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); }

.box-card {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* Smooth transition for all properties */ }

.card-product {
  overflow: hidden;
  height: 120px;
  color: #374151;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  gap: 16px; }

#card-pp {
  background-color: #f1f5f9; }

#card-pp h5 {
  color: #2563eb; }

#card-dd {
  background-color: #f0f9ff; }

#card-dd h5 {
  color: #0891b2; }

#card-lc {
  background-color: #fef2f2; }

#card-lc h5 {
  color: #9b0e15; }

.card-product h5 {
  color: #9b0e15;
  font-size: 16px;
  font-weight: bold;
  margin: 0; }

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px; }

.card-product-infos h5 {
  color: #9b0e15; }

.card-product .card-info {
  padding: 16px; }

.box-card a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex: 1 1 0; }

.icon-normal {
  width: 1.1rem;
  height: auto; }

.icon-lg {
  width: 1.6rem;
  height: auto; }

.icon-xl {
  width: 2rem;
  height: auto; }

.icon-2xl {
  width: 2.7rem;
  height: auto; }

#headshot-image-box, #avatar {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  justify-items: center; }

#am a {
  justify-content: center; }

#am .transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 100; }

#am .mhs2 {
  width: 75%;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.9);
  display: flex;
  position: relative;
  margin: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  /* For Chrome, Safari, Opera */
  -moz-user-drag: none;
  /* For Firefox */
  -ms-user-drag: none;
  /* For Internet Explorer/Edge */
  user-drag: none;
  /* Standard property */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

#cred .mhs1 {
  max-width: 75%;
  height: auto;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.9);
  display: flex;
  position: relative;
  margin: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  /* For Chrome, Safari, Opera */
  -moz-user-drag: none;
  /* For Firefox */
  -ms-user-drag: none;
  /* For Internet Explorer/Edge */
  user-drag: none;
  /* Standard property */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.image-service {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.9);
  width: 90%;
  height: 90%;
  align-items: center; }

.image-service img {
  width: 100%;
  height: auto; }

.modal {
  /* modals are hidden by default */
  display: none;
  /* modal container fixed across whole screen */
  position: fixed;
  inset: 0;
  /* z-index must be higher than everything else on the page */
  z-index: 10000;
  /* semi-transparent black background exposed by padding */
  background-color: rgba(0, 0, 0, 0.75);
  /* enables scrolling for tall modals */
  overflow: hidden;
  padding: 10%;
  align-items: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.modal.open {
  display: block; }

.hidden {
  display: none !important; }

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 10;
  /* number of pixels away from the top before the maps stops moving */
  border-bottom: 1px solid black;
  padding: 8px; }

.modal-body {
  max-height: calc(90%);
  overflow: auto;
  text-align: left;
  padding: 8px;
  margin: auto; }

.modal-title, .modal-body {
  background: white;
  color: black; }

.modal-body li {
  list-style-type: disc;
  /* For unordered lists */
  -webkit-margin-start: 1.25em;
          margin-inline-start: 1.25em;
  /* Reset any custom margin */
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  /* Restore default padding */
  list-style-position: outside; }

.modal-body li, .modal-body p {
  font-size: small; }

body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
  padding-right: 17px;
  /* Adjust this value based on typical scrollbar width */
  /* show the scrollbar so that the body text doesn't shift when the modal opens */ }

#popup-consent {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 3rem;
  opacity: 1;
  background-color: black;
  -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  border: 3px solid white;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 10001; }
  #popup-consent.hidden {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }

/* Add to your stylesheet */
.button-w-icon-popup-consent {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  color: white; }

.inline {
  position: relative; }

.consent-text {
  color: white;
  padding-top: 24px;
  padding-bottom: 24px; }

.consent-text a {
  display: inline;
  white-space: normal;
  color: red;
  font-weight: bold; }

.page-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  margin-top: 46px;
  /* 46px without borders makes the banner start where the navbar ends */ }

.page {
  padding-top: 16px;
  padding-bottom: 16px;
  border-color: whitesmoke; }

.page-text {
  justify-items: center;
  color: white; }

.section-break {
  padding-top: 16px;
  padding-bottom: 16px; }

.service-intro h4, .outro h4 {
  color: #9b0e15; }

.service-intro, .outro {
  background: #fffcf6; }

.outro .box {
  justify-items: center;
  align-items: center; }

#pp .two-col-header, #dd .two-col-header, #lc .two-col-header {
  justify-items: center; }

#pp {
  background-color: #f1f5f9; }

#pp h5 {
  color: #2563eb; }

#dd {
  background-color: #f0f9ff; }

#dd h5 {
  color: #0891b2; }

#lc {
  background-color: #fef2f2; }

#lc h5 {
  color: #9b0e15; }

#pp h6, #dd h6, #lc h6 {
  color: #6b7280; }

.service-intro p, #pp p, #dd p, #lc p, .outro p {
  color: #374151; }

#cred {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply; }

#about-text {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply; }

/* Create two equal columns that floats next to each other */
.two-col-column {
  float: left;
  width: 50%;
  padding: 12px;
  border-color: whitesmoke;
  color: whitesmoke; }

#dd .two-col-header {
  color: white; }

/* Create two equal columns that floats next to each other */
#dd .two-col-column {
  color: black; }

.mhs1 {
  width: 66%;
  max-width: 240px;
  border-color: 5px whitesmoke; }

#pp .image {
  display: flex;
  justify-content: center; }

#dd .image-two-col {
  display: flex;
  justify-content: center; }

#lc .image {
  display: flex;
  justify-content: center; }

.situation {
  background-color: #595f72;
  color: white;
  font-size: smaller;
  border-radius: 16px;
  padding: 16px; }

.two-col-column li {
  margin: 1rem; }

/* Clear floats after the columns */
.two-col-row:after {
  content: "";
  display: table;
  clear: both; }

/* Responsive layout */
/* hero section text takes up 100% of width */
/* columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .two-col-column, .three-col-column {
    width: 100%;
    padding: 0px; }
  .card-service {
    width: 100%; } }

.service-intro li, #cred li, #pp li, #dd li, #lc li {
  list-style-type: disc;
  /* For unordered lists */
  -webkit-margin-start: 1.25em;
          margin-inline-start: 1.25em;
  /* Reset any custom margin */
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  /* Restore default padding */
  list-style-position: outside;
  color: #374151; }

#cred .name-title {
  color: #374151; }

#cred .inline-firm-color {
  padding: 2px;
  border-bottom: 4px solid #9b0e15; }

.inline, .inline-top {
  display: flex;
  gap: 1ch;
  border: none;
  justify-content: space-between; }

#cred h6 {
  color: #9b0e15; }

.inline {
  justify-content: flex-start; }

#cred .cred-details {
  color: #374151; }

#cred li, #cred p {
  color: #374151; }

.grid-footer-lite {
  display: -ms-grid;
  display: grid;
  justify-items: center; }

.firm-info-lite {
  display: -ms-grid;
  display: grid;
  color: #9b0e15;
  padding: 16px;
  justify-items: center; }

.firm-info {
  -ms-grid-column-align: center;
      justify-self: center; }

.avatar {
  width: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: red 3px solid; }

.avatar-large {
  width: 56px;
  border-radius: 50%; }

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid; }

.avatar-square {
  width: 40px;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid; }

#ft {
  background: black;
  color: white; }

#ft .box-l {
  justify-items: center; }

.contact-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  padding: 0;
  justify-items: center;
  justify-content: center;
  width: auto;
  align-items: center;
  color: white; }
  @media (max-width: 540px) {
    .contact-info {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr; } }
#ft .icon-plus-text {
  padding: 8px;
  color: white; }

#ft a[href^="tel"] {
  color: white;
  text-decoration: none; }

.fine-print {
  justify-items: center; }

#ft .firm-logo-area {
  display: flex;
  justify-content: center;
  align-items: center; }

#ft .firm-logo {
  width: 190px;
  height: auto; }

.footer-bottom {
  font-size: smaller;
  color: white; }

#contact {
  background: #595f72;
  color: white; }

#contact .l-side {
  padding: 8px;
  color: white;
  max-width: 600px;
  /* Limits the form's width to a maximum of 720px */
  margin: 0 auto;
  /* Centers the form horizontally */ }

.contact-form {
  background-color: white;
  color: white; }

.form-group-narrow {
  display: -ms-grid;
  display: grid; }

.form-group-wide {
  display: -ms-grid;
  display: grid; }

.counter-display {
  display: flex;
  justify-content: space-evenly;
  font-size: smaller; }

textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* ensures padding/border don't overflow */
  padding-bottom: 0; }

.counter-display .danger {
  color: red; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  /* Remove default margin in Firefox and Safari */ }

.inline {
  display: flex;
  align-items: center;
  gap: 1ch;
  padding: 4px o; }

.icon-plus-text {
  display: flex;
  align-items: center;
  gap: 1ch; }

form {
  display: -ms-grid;
  display: grid;
  background-color: white;
  gap: 1rem;
  margin: 0;
  padding: 0;
  background-color: #595f72;
  color: white; }

label, legend, fieldset {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  font-size: small;
  line-height: 1.25; }

input:focus, select:focus, textarea:focus {
  border: 4px solid #ef7b45;
  border-radius: 8px;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out; }

.agreement {
  background-color: black;
  color: white;
  padding: 24px; }

.form-group-wide {
  padding-bottom: 6px; }

#schedule {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply; }

.schedule-form {
  display: -ms-grid;
  display: grid;
  background-color: white;
  gap: 1rem;
  margin: 0;
  padding: 0;
  background-color: #0891b2;
  color: white; }
  .schedule-form #contact .l-side {
    padding: 8px;
    color: white;
    max-width: 600px;
    /* Limits the form's width to a maximum of 720px */
    margin: 0 auto;
    /* Centers the form horizontally */ }
  .schedule-form .contact-form {
    background-color: white;
    color: white; }
  .schedule-form .form-group-narrow {
    display: -ms-grid;
    display: grid; }
  .schedule-form .form-group-wide {
    display: -ms-grid;
    display: grid; }
  .schedule-form .counter-display {
    display: flex;
    justify-content: space-evenly;
    font-size: smaller; }
  .schedule-form textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* ensures padding/border don't overflow */
    padding-bottom: 0; }
  .schedule-form .counter-display .danger {
    color: red; }
  .schedule-form input, .schedule-form button, .schedule-form select, .schedule-form textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    /* Remove default margin in Firefox and Safari */ }
  .schedule-form .inline {
    display: flex;
    align-items: center;
    gap: 1ch;
    padding: 4px o; }
  .schedule-form .icon-plus-text {
    display: flex;
    align-items: center;
    gap: 1ch; }

label, legend, fieldset {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  font-size: small;
  line-height: 1.25; }

input:focus, select:focus, textarea:focus {
  border: 4px solid #ef7b45;
  border-radius: 8px;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out; }

.agreement {
  background-color: black;
  color: white;
  padding: 24px; }

.form-group-wide {
  padding-bottom: 6px; }

.calendar-wrapper header {
  display: flex;
  align-items: center;
  font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  justify-content: center;
  margin-bottom: 2em;
  background: #000;
  color: #fff;
  min-height: 10vh;
  text-align: center; }

.calendar-wrapper ul, .calendar-wrapper ol {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
  max-width: 64em;
  padding: 0; }

.calendar-wrapper li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300))); }

.calendar-wrapper ul.weekdays {
  margin-bottom: 1em; }

.calendar-wrapper ul.weekdays li {
  height: 4vw; }

.calendar-wrapper ol.day-grid li {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  height: 12vw;
  max-height: 125px; }

.calendar-wrapper ul.weekdays abbr[title] {
  border: none;
  font-weight: 800;
  text-decoration: none; }

.fine-print {
  justify-items: center; }

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* This is necessary to enable multi-column layout */
  text-decoration: none;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif; }

:root {
  --main-font: 'Inter', sans-serif;
  --secondary-font: 'Merriweather', serif; }
